@charset "UTF-8";

body{margin:0; padding:0; text-align:center;}

/* 게시물 목록 스타일 */
.bordertest{
	display: flex;
	flex-direction: row;
	border: 1px solid #f2f2f2;
	margin: 0px auto;
	width: 850px;
	
}
.bordertest > form {
    display: flex;
    flex-direction: row;
}

.bordertest > form > div {
    display: flex;
    flex-direction: column;
    overflow: hidden;
	white-space: nowrap;
    text-overflow: ellipsis;
}
  .mainImgs{
  	width: 150px;
      height: 150px;
      line-height: 150px;
      margin-right: 2.5vw;
  }
  /* 오른쪽 top3 content 스타일 */
#absolutePanel{
	position: fixed;
	right: 20vw;
	bottom: 10vh;
	width: 200px;
	height: 500px;
	background-color: #78C8BA;
	opacity: 70%;
	padding: 10px;
}
.ap{margin : 20px 0px}
.panelImg{
    width: 100%;
    min-width: 179px;
     	height: 120px;
     	min-height:120px;
     	border: 1px dashed white;
}
.apText{
	display: flex;
	justify-content: space-between;
	flex-wrap: nowrap;
     	cursor: pointer;
}
.apText div{
	flex-direction: row;
	margin-bottom: 10px;
	overflow: hidden;
	white-space: nowrap;
    text-overflow: ellipsis;
}
.viewSelector{
	cursor: pointer;
}

/* 상단 태그 검색 style */
.tagsContainer{
	display: flex;
	justify-content: center;
	background: none;
	margin-top: 150px;
}
.tagsContainer .breadcrumb{background: none;}
.tagsContainer li{
	margin : 5px;
	padding-left: 10px;
	padding-right: 10px;
	background-color : #f2f2f2;
	border-radius: 30px;
	cursor: pointer;
}
.tagsContainer li a{
	all: unset;
	text-decoration : none;
	color : #000;
}
/* 검색 시 내용이 없으면 */
#noBoardLists{
	display: flex;
	justify-content: center;
	margin-top: 30vh;
}

/* paging style */
.pagingContainer{
	display: flex;
	padding: 30px 0px;
	justify-content: center;
	align-items: center;
	
	font-size: 1.5em;
	
}
.pageStyleSet a{
	text-decoration:none;
	color: #aaa;
	margin: 10px;
}
.pageStyleSet a:hover, .pageStyleSet a:active{
	text-decoration:none;
	box-shadow: none;
	color: #78C8BA;
}
.pageStyleSet span{
	/* background-color: #78C8BA; */
	margin: 10px;
	cursor: default;
}



/*   스마트폰 모드 (최대 너비 576px)
  @media (max-width: 576px) {
      .bordertest{margin: 0;}
      .mainImgs{border-color: yellow;}
  }
 */
  /* 태블릿 및 스마트폰 모드 (최대 너비 768px) */
@media (max-width: 950px) {
	bordertest{overflow: scroll;}
    #absolutePanel{
		position: fixed;
		right: 20px;
	}
}